<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/custom/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/toastr/css/toastr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/custom/css/scroll-to-top.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/assets/vendor/nucleo/css/nucleo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/assets/css/argon.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
</head>

<body onload="getAccounts();">
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/logo/logo.png') }}" class="navbar-brand-img" alt="...">
                </a>
            </div>
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Principal</span>
                    </h6>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="./">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Vista general</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./movimientos">
                                <i class="ni ni-bullet-list-67 text-default"></i>
                                <span class="nav-link-text">Movimientos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./categorias">
                                <i class="ni ni-tag text-default"></i>
                                <span class="nav-link-text">Categorías</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                    <!-- Heading -->
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Usuario</span>
                    </h6>
                    <!-- Navigation -->
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <a class="nav-link" href="./preferencias">
                                <i class="ni ni-ui-04"></i>
                                <span class="nav-link-text">Preferencias</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./logout">
                                <i class="ni ni-user-run"></i>
                                <span class="nav-link-text">Cerrar sesión</span>
                            </a>
                        </li>
            
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content" id="panel">
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-left ml-md-auto">
                        <li class="nav-item">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                                data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder"
                                            src="{{ url_for('static', filename='libs/assets/img/theme/team-4.jpg') }}">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">{{session["nickname"]}}</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Principal</h6>
                                </div>
                                <a href="./" class="dropdown-item">
                                    <i class="ni ni-tv-2"></i>
                                    <span>Vista general</span>
                                </a>
                                <a href="./movimientos" class="dropdown-item">
                                    <i class="ni ni-bullet-list-67"></i>
                                    <span>Movimientos</span>
                                </a>
                                <a href="./categorias" class="dropdown-item">
                                    <i class="ni ni-tag"></i>
                                    <span>Categorías</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Usuario</h6>
                                </div>
                                <a href="./preferencias" class="dropdown-item">
                                    <i class="ni ni-ui-04"></i>
                                    <span>Preferencias</span>
                                </a>
                                <a href="./logout" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Cerrar sesión</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-12 col-12 text-right">
                            <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#modal-notification-nueva-cuenta">Nueva cuenta</a>
                            <!-- <a href="#" class="btn btn-sm btn-neutral">Filtro</a> -->
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Lorem ipsum</h5>
                                            <span class="h2 font-weight-bold mb-0">000,000</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.00%</span>
                                        <span class="text-nowrap">...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Lorem ipsum</h5>
                                            <span class="h2 font-weight-bold mb-0">0,000</span>
                                        </div>
                                        <div class="col-auto">
                                            <div
                                                class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                                <i class="ni ni-chart-pie-35"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.00%</span>
                                        <span class="text-nowrap">...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Lorem ipsum</h5>
                                            <span class="h2 font-weight-bold mb-0">000</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                <i class="ni ni-money-coins"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.00%</span>
                                        <span class="text-nowrap">...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Lorem ipsum</h5>
                                            <span class="h2 font-weight-bold mb-0">00,00%</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                                <i class="ni ni-chart-bar-32"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.00%</span>
                                        <span class="text-nowrap">...</span>
                                    </p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card" id="dashboard_accounts">
                        
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Movimientos recientes</h3>
                                </div>
                                <div class="col text-right">
                                    <!-- <a href="#!" class="btn btn-sm btn-primary">Ver todo</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Title</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            Info
                                        </th>
                                        <td>
                                            0,000
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Info
                                        </th>
                                        <td>
                                            0,000
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">00%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-gradient-success" role="progressbar"
                                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Information
                                        </th>
                                        <td>
                                            0,000
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">80%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-gradient-primary" role="progressbar"
                                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-12">
                        <div class="copyright text-center  text-lg-left  text-muted">
                            &copy; Copyright 2021 <a href="https://www.crashell.com/" class="font-weight-bold ml-1"
                                target="_blank">Crashell</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a href="#" class="scroll-top text-center" id="ScrollToTop">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <div class="modal fade" id="modal-notification-nueva-cuenta" tabindex="-1" role="dialog"
        aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
            <div class="modal-content bg-gradient-success">
    
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Nueva cuenta</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" id="FormCreateAccount">
    
                                <div class="form-group">
                                    <label for="cb-badge-create-account">Tipo de divisa</label><br/>
                                    <label class="custom-toggle">
                                        <input type="checkbox" id="cb-badge-create-account" checked>
                                        <span class="custom-toggle-slider rounded-circle" data-label-off="$" data-label-on="C$"></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                                        </div>
                                        <input class="form-control" id="name_account" placeholder="* Nombre de cuenta" type="text">
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="span-badge-selected">C$</span>
                                        </div>
                                        <input class="form-control" id="amount_account" placeholder="* Monto" type="number">
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="description_account">Descripción</label>
                                    <textarea class="form-control" id="description_account" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" id="create_account_submit">Crear</button>
                    <!-- <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cerrar</button> -->
                </div>
    
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-notification-control-cuenta" tabindex="-1" role="dialog"
        aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
            <div class="modal-content bg-gradient-warning">
    
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Gestionar cuenta</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" id="FormUpdateAccount">
                                <input type="hidden" id="update_id_account" />
                                <div class="form-group">
                                    <label for="cb-badge-update-account">Tipo de divisa</label><br />
                                    <label class="custom-toggle" id="custom_toggle_currency">
                                        <input type="checkbox" id="cb-badge-update-account" checked>
                                        <span class="custom-toggle-slider rounded-circle" id="cb-badge-update-account-value" data-label-off="$" data-label-on="C$"></span>
                                    </label>
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-credit-card"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                        <input class="form-control" id="update_name_account" placeholder="* Nombre de cuenta"
                                            type="text">
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="span-update-badge-selected">C$</span>
                                        </div>
                                        <input class="form-control" id="update_amount_account" placeholder="* Monto" type="number">
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="description_account">Descripción</label>
                                    <textarea class="form-control" id="update_description_account" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-white" id="delete_account_submit">Eliminar</button>
                    <button type="button" class="btn btn-white ml-auto" id="update_account_submit">Actualizar</button>
                </div>
    
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='libs/assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/vendor/js-cookie/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/assets/js/argon.js') }}"></script>
 
    <script src="{{ url_for('static', filename='libs/toastr/js/toastr.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/custom/js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/custom/js/dashboard.js') }}"></script>
    
</body>

</html>